/* Desktop (col-lg) 1024px+  */

/* Celulares (col) 0 a 576px  */
@media (max-width: 576px) {
    .price-produto {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
        font-size: 22px !important;
    }

    .wrapper {
        width: 100%;
    }

    .calendar {
        padding: 5px;
    }

    .modal-full {
        padding: 5px !important;
    }

    .schedule-container {
        width: 100%;
        height: 400px;
    }

    .modalDescQRCode > .row > .col-6 {
        max-width: 100%;
    }

    .descriacaoQRCode {
        font-size: 16px;
    }

    .qrcodeImg {
        padding: 10px;
        justify-content: center;
        align-items: center;
    }

    .qrcodeImg img {
        width: 170px;
    }

    .qrcodeImg button {
        font-size: 16px;
    }

    .linksCompartilhamento {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    .btnConfirmarPagamento {
        font-size: 16px;
    }

    .tituloCobranca p {
        font-size: 24px;
    }

    .modal-parcelas .modal-footer {
        justify-content: center;
    }

    .col-notificacao-dotlottie .h3 {
        font-size: 1.65rem;
    }

    .container-desc {
        flex-direction: column;
        padding: 0;
    }

    #modalItem {
        padding: 0 !important;
    }

    .col-img-produto-desc {
        padding: 0;
        flex: 0 0 15%;
    }

    .col-details-desc {
        flex: 0 0 50%;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 40%;
        padding: 0;
    }

    .img-produto-desc {
        width: 100%;
        overflow: hidden; 
    }

    .img-produto-desc img {
        width: 100%;
        max-height: 30vh;
        object-fit: cover;
    }

    .m-header-desc {
        display: none;
    }

    .title-desc-cell {
        display: flex !important;
        padding-left: 30px;
    }

    .modalPagamentos {
        margin-top: 0 !important;
    }

    .spn-add {
        margin-right: 5px;
    }

    .btn-fechar-desc-cell {
        display: flex;
        position: absolute;
        right: 5px;
        top: 5px;
    }

    .header-desc-item {
        flex: 0 0 10%;
        position: sticky;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-desc-item span {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
    }

    .btn-fechar-desc-cell {
        margin-left: 30px;
        right: unset;
        left: 0;
        top: unset;
    }

    .btn-fechar-desc-cell i {
        font-size: 20px;
        color: var(--color-primary);
    }

    .card-adicionais-itens {
        padding: 10px 20px;
        padding-right: 0;
    }

    .card-adicionais-itens .row {
        align-items: flex-start;
        padding-bottom: 0;
    }

    .add-itens-acomp {
        position: relative;
        top: -25px;
        justify-content: flex-start;
    }

    .btn-menos-desc {
        padding-left: 0;
    }

    .row-comentario {
        padding: 0 20px;
        padding-top: 20px;
    }
    

    .container-comentario {
        padding: 0 10px;
    }

    .container-total.container-footer-desc {
        padding: 20px;
    }

    .container-footer-desc {
        justify-content: center;
    }

    .add-itens-carrinho {
        margin-right: 5px;
        min-width: 120px;  
        display: flex;
        justify-content: center; 
    }

    .btn-menos-carrinho,
    .btn-mais-carrinho {
        font-size: 14px;
        padding: 15px;
    }

    .add-numero-itens-carrinho {
        font-size: 16px;
        padding: 12px 0;
        min-width: 30px;
        text-align: center;
    }

    .btn-add-carrinho {
        min-width: 215px;
    }

    .modal-full.modalReservaFull {
        padding: 0 !important;
    }

    .m-body-reserva {
        padding: 10px;
        margin-bottom: 30px;
    }

    .btn-fechar-reserva img {
        width: 100px;
    }

    .btn-fechar-reserva .btn-white {
        font-size: 16px;
        padding: 10px 20px;
    }

    .btn-days {
        font-size: 16px;
        padding: 8px 5px;
    }

    .btn-days i {
        padding: 0;
    }

    .content-text-reserva h3 {
        font-size: 22px;
    }

    .content-text-reserva p {
        font-size: 18px;
    }

    .modal-confirmacao-reserva {
        max-width: 320px;
    }

    .modal-body-confim-reserva {
        padding: 20px;
    }

    .modal-header h5 {
        font-size: 18px;
        padding: 0 !important;
    }

    .modal-body-confim-reserva p, h5 {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .modal-footer-confirm-reserva {
        padding: 10px 20px;
    }

    #agendar_reserva {
        font-size: 16px;
        background-color: #ffbf00bd;
    }

    .no-cell-overflow {
        overflow: hidden !important;
    }
}

/* Tablets e Celulares (col) 0 a 768px  */
@media (max-width: 768px) {

    .container {
        max-width: 540px !important;
    }

    .no-mobile {
        display: none;
    }

    .col-one {
        padding: 0 35px!important;
    }

    .navbar-toggler-icon {
        padding-top: 5px;
    }

    .navbar-collapse {
        background-color: var(--color-secondary);
        padding: 20px;
        text-align: center;
        border-radius: 40px;
    }

    .navbar-collapse .btn-icon {
        padding-right: 70px;
        margin-top: 20px;
    }

    .navbar-collapse .btn-icon .icon {
        right: inherit;
        margin-left: 10px;
    }

    .banner {
        padding: 50px 0;
    }

    .text-banner h1 {
        font-size: 36px;
    }

    .text-banner p {
        font-size: 18px;
    }

    .btn-yellow, .btn-white {
        padding: 13px 23px;
        font-size: 18px;
    }

    .btn-icon-left span.icon-left {
        width: 43px;
        height: 43px;
        margin-left: -56px;
    }

    .btn-icon-left {
        padding-left: 63px!important;
    }

    .title {
        font-size: 30px;
    }

    .servicos {
        padding-bottom: 50px;
    }

    .cardapio {
        padding-bottom: 50px;
    }

    .container-menu {
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        padding-bottom: 15px!important;
    }

    .img-produto {
        position: absolute;
        left: 15px;
    }

    .card-item {
        height: 110px;
        padding-left: 110px;
        justify-content: center;
        align-items: start;
    }

    .card-item .img-produto img {
        width: 80px;
    }

    .title-produto {
        margin-top: 0px !important;
        height: 30px !important;
        width: 100%;
        text-align: left !important;
    }

    .price-produto {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
        font-size: 18px !important;
    }

    #itensCardapio .mb-5 {
        margin-bottom: 15px !important;
    }

    .depoimentos {
        padding-bottom: 50px;
    }

    .background-depoimentos {
        margin-top: 15%;
    }

    .reserva {
        padding-bottom: 50px;
    }

    .card-secondary {
        padding: 45px;
        border-radius: 50px;
    }

    .container-logo-footer {
        justify-content: center;
    }

    .container-texto-footer {
        text-align: center;
    } 

    .container-redes-footer {
        margin-top: 40px;
        margin-bottom: 50px;
        justify-content: center;
    }

    .modal-full {
        padding: 40px;
    }

    .modal-full .item-carrinho {
        padding-left: 0;
        padding-right: 0;
    }

    .modal-full .img-produto {
        position: relative;
        left: 0;
    }

    .modal-full .img-produto img {
        width: 60px;
    }

    .modal-full .dados-produto {
        padding-left: 15px;
        padding-right: 15px;
        display: grid;
    }

    .modal-full .title-produto, .modal-full .price-produto {
        font-size: 16px !important;
    }

    .modal-full .add-numero-itens {
        padding: 2px 10px;
    }

    .modal-full .form-control {
        font-size: 16px;
    }

    .modalPagamentos {
        margin-top: 40px
    }

    .modalPagamentos .col-5 {
        margin-left: 0 !important;
        margin-right: 0 !important;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    

    .row-method {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center !important;
    }

    .col-pix {
        margin-bottom: 20px;
    }

    .card-pagamento {
        padding: 10px 15px;
    }

    .card-pagamento p {
        text-align: center !important;
    }

    .icon-pix i {
        font-size: 50px;
    }

    .icon-pix::before {
        font-size: 50px;
        top: 17px;
    }

    .icon-credit i {
        font-size: 50px;
    }

    .icon-credit::before {
        font-size: 50px;
        top: 20px;
    }

    .col-qrcode {
        width: 100%;
        margin-bottom: 20px;
    }

    .col-descricaoCobranca {
        width: 100%;
    }

    .badge-edit-carrinho {
        width: 30px;
        height: 30px;
        font-size: 12px;
        right: -5px;
        top: -5px;
        left: unset;
    }

}

/* Desktop e Tablets (col-md) 768px a 1024px  */
@media (max-width: 1024px) {
    .banner .container {
        max-width: 800px;
    }
    .nav-link {
        color: var(--color-black) !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .img-banner {
        position: absolute;
        width: 430px;
        top: 130px;
        right: 15px;
    }

    .img-banner img {
        width: 100%;
    }

    .card-banner {
        top: 0;
        height: 370px;
        width: 370px;
        border-radius: 150px;
    }

    .card-case {
        width: 300px;
        font-size: 12px;
        bottom: 150px;
    }

    .container-menu {
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        padding-bottom: 15px!important;
    }

    .img-banner-pizza {
        position: absolute;
        width: 430px;
        top: 30px;
        right: 45px;
    }

    .img-banner-pizza img {
        width: 100%;
    }

    .card-depoimentos {
        height: 340px;
        width: 340px;
    }

    .card-reserva {
        height: 270px;
        width: 270px;
        border-radius: 90px;
        position: absolute;
        background-color: var(--color-white);
        right: 0;
        top: 25px;
    }

    .reserva .img-banner img {
        position: absolute;
        width: 300px;
        top: -30px;
        right: 15px;
    }

    .col-qrcode {
        width: 100%;
        margin-bottom: 20px;
    }
}